@charset "UTF-8";
.pheader {
	margin: 0 auto;
	max-height: 1024px;
	max-width: 1024px; 
	min-height: 1024px;
	min-width: 1024px;
	text-align: center;
}

.p_head{
	border: 1px solid gray;
	text-align: left;
	display: inline-block;
	width: 1022px;
	height:150px;
	margin-bottom: 30px;
}
.p_nav1{
	margin-top:30px;
	text-align: left;
	display:inline-block;
	padding-left: 20px;
	width: 200px;
}
p{
	
	margin-bottom: 5px;
	
}
.p_nav1 h1{
	display:inline-block;
	margin: 0;
	float: left;

}

h3{
	padding-top:15px;
	margin: 0;
	float: left;
}

.p_nav2{
	padding-left:40px;
	text-align:left;
	float: right;
	border-left: 1px solid gray;
	margin-top: 10px;
	height: 130px;
}
.p_nav_ul1 {
	font-size:18px;
	list-style: none;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-left: 0;
}
.p_nav_ul2{
	margin:0;
	padding-left:0;
	padding-bottom: 5px;
	font-size: 15px;
}
.p_body1{
	border: 1px solid gray;
	width: 1024px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.p_body2{
	border-bottom: 1px solid gray;
	
	width: 1024px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.item1{
	width: 150px;
}
.item2{
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	width: 550px;
}
.item3{ 
	border-right: 1px solid gray;
	width: 100px;
}
.item4{
	border-right: 1px solid gray;
	width: 100px;
}
.item6{
	width: 150px;
}
.item7{
	width: 550px;
}
.item8{
	width: 100px;
}
.item9{
	width: 100px;
}
.clear{
	clear: both;
}
select{
	height: 23px;
}
