<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WAZUA</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>listener.WazuaListener</listener-class>
  </listener>
  <context-param>
    <param-name>OracleUser</param-name>
    <param-value>WAZUA</param-value>
  </context-param>
  <context-param>
    <param-name>OraclePW</param-name>
    <param-value>WAZUA</param-value>
  </context-param>
  <context-param>
    <param-name>Address</param-name>
    <param-value>http://localhost:8001</param-value>
  </context-param>
  <context-param>
    <param-name>Door</param-name>
    <param-value>/Door</param-value>
  </context-param>
  <context-param>
    <param-name>DoorView</param-name>
    <param-value>/DoorView/DoorView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>SignUp</param-name>
    <param-value>/Sign/Up</param-value>
  </context-param>
  <context-param>
    <param-name>SignUpView</param-name>
    <param-value>/SignView/SignUpView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>SignIn</param-name>
    <param-value>/Sign/In</param-value>
  </context-param>
  <context-param>
    <param-name>SignInView</param-name>
    <param-value>/SignView/SignInView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>SignOut</param-name>
    <param-value>/Sign/Out</param-value>
  </context-param>
  <context-param>
    <param-name>Main</param-name>
    <param-value>/Main</param-value>
  </context-param>
  <context-param>
    <param-name>MainView</param-name>
    <param-value>/MainView/MainView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>MoviePage</param-name>
    <param-value>/MoviePage</param-value>
  </context-param>
  <context-param>
    <param-name>MoviePageView</param-name>
    <param-value>/MovieView/MovieView.jsp</param-value>
  </context-param>
</web-app>