<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WAZUA</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>listener.WazuaListener</listener-class>
  </listener>
  <filter>
  	<filter-name>CharEncoder</filter-name>
  	<filter-class>filter.CharEncoder</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>CharEncoder</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>charEncoding</param-name>
    <param-value>utf-8</param-value>
  </context-param>
  <filter>
  	<filter-name>BouncerFilter</filter-name>
  	<filter-class>filter.BouncerFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>BouncerFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>OracleUser</param-name>
    <param-value>WAZUA</param-value>
  </context-param>
  <context-param>
    <param-name>OraclePW</param-name>
    <param-value>WAZUA</param-value>
  </context-param>
  <context-param>
    <param-name>Address</param-name>
    <param-value>http://192.168.30.52:8001</param-value>
  </context-param>
  <context-param>
    <param-name>sessionCheckAttr</param-name>
    <param-value>id</param-value>
  </context-param>
  <context-param>
    <param-name>commentNum</param-name><!-- max comment showed on movie page -->
    <param-value>3</param-value>
  </context-param>
  <context-param>
    <param-name>pageCommNum</param-name><!-- moreCommentPage Comment count -->
    <param-value>5</param-value>
  </context-param>
  <context-param>
    <param-name>pageAmount</param-name><!-- max page showed on more comment view -->
    <param-value>8</param-value>
  </context-param>
  <context-param>
    <param-name>MaxScore</param-name>
    <param-value>5</param-value>
  </context-param>
  <context-param>
    <param-name>Door</param-name>
    <param-value>/Door</param-value>
  </context-param>
  <context-param>
    <param-name>DoorView</param-name>
    <param-value>/DoorView/DoorView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>SignUp</param-name>
    <param-value>/Sign/Up</param-value>
  </context-param>
  <context-param>
    <param-name>SignUpView</param-name>
    <param-value>/SignView/SignUpView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>SignIn</param-name>
    <param-value>/Sign/In</param-value>
  </context-param>
  <context-param>
    <param-name>SignInView</param-name>
    <param-value>/SignView/SignInView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>SignOut</param-name>
    <param-value>/Sign/Out</param-value>
  </context-param>
  <context-param>
    <param-name>Main</param-name>
    <param-value>/Main</param-value>
  </context-param>
  <context-param>
    <param-name>MainView</param-name>
    <param-value>/MainView/MainView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>MoviePage</param-name>
    <param-value>/MoviePage</param-value>
  </context-param>
  <context-param>
    <param-name>MoviePageView</param-name>
    <param-value>/MovieView/MovieView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>WriteComment</param-name>
    <param-value>/WriteComment</param-value>
  </context-param>
  <context-param>
    <param-name>WriteCommentView</param-name>
    <param-value>/WriteCommentView/WriteCommentView.jsp</param-value>
  </context-param>
  <context-param>
    <param-name>MoreComments</param-name>
    <param-value>/MoreComments</param-value>
  </context-param>
  <context-param>
    <param-name>MoreCommentsView</param-name>
    <param-value>/MoreCommentsView/MoreCommView.jsp</param-value>
  </context-param>
</web-app>